1.SA/log.txt
1.SA/sa_v6
1.SA/sa_v7.cpp
1.SA/neighbor_generation.txt
1.SA/*.txt
2.TS/*.txt
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
2.TS/ts
2.TS/ts_v2
2.TS/ts.dSYM/Contents/Info.plist
2.TS/ts.dSYM/Contents/Resources/DWARF/ts
.gitignore
2.TS/ts
3.GRASP/neighbor_generation.txt
.gitignore
3.GRASP/gr
3.GRASP/sa800_output.txt
3.GRASP/*.txt
3.GRASP/gr_v2
4.GA/ga
4.GA/*.txt
4.GA/ga_com
4.GA/ga_v2
4.GA/vrptw_ga
4.GA/validation.o
4.GA/ga.o
